<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alsace.exchange.service.detection.mapper.EnvironmentTaskDetailMapper">
    <select id="findResultPage" resultType="com.alsace.exchange.service.detection.domain.EnvironmentTaskDetail">
        SELECT
        D.address,
        D.city,
        D.company_code companyCode,
        D.company_name companyName,
        D.detail_code detailCode,
        D.tax_code taxCode,
        D.form_code formCode,
        D.tag_id tagId,
        D.tag_name tagName,
        D.org_code orgCode,
        D.task_code taskCode,
        D.tel,
        D.detail_status detailStatus,
        R.detail_code detailCode,
        R.detail_type detailType,
        R.pictures,
        R.positive,
        R.test_tube_no testTubeNo,
        R.result_status resultStatus,
        T.task_name taskName
        FROM biz_environment_task T
        inner join biz_environment_task_detail D on D.task_code=T.task_code
        left join biz_environment_task_detail_result R
        on (D.detail_code = R.detail_code and R.deleted=0)
        WHERE D.deleted=0
        <if test="param.taskCode !=null and param.taskCode !=''">
            and T.task_code = #{param.taskCode}
        </if>
        <if test="param.taskName !=null and param.taskName !=''">
            and T.task_name like concat('%',#{param.taskName},'%')
        </if>
        <if test="param.taskStatus !=null">
            and T.task_status = #{param.taskStatus}
        </if>
        <if test="param.startDate !=null">
            <![CDATA[
            and T.start_date <= #{param.startDate}
            ]]>
        </if>
        <if test="param.endDate !=null">
            <![CDATA[
            and T.end_date >= #{param.endDate}
            ]]>
        </if>
        <choose>
            <when test="param.userDataList!=null and !param.userDataList.isEmpty()">
                and exists (select 1 from biz_environment_task_org o where o.task_code=T.task_code and o.org_code in
                <foreach collection="param.userDataList" item="method" open="(" separator="," close=")">
                    #{method.code}
                </foreach>)
            </when>
          <otherwise>
              and T.created_by = #{param.userDataAccount}
          </otherwise>
        </choose>
        order by T.created_date desc,t.modified_date desc
    </select>


    <select id="findResults" resultType="com.alsace.exchange.service.detection.domain.EnvironmentTaskDetailImport">
        SELECT
        D.address,
        D.city,
        D.company_code companyCode,
        D.company_name companyName,
        D.detail_code detailCode,
        D.tax_code taxCode,
        D.form_code formCode,
        D.tag_id tagId,
        D.tag_name tagName,
        D.org_code orgCode,
        D.task_code taskCode,
        D.tel,
        D.detail_status detailStatus,
        R.detail_code detailCode,
        R.detail_type detailType,
        R.pictures,
        R.positive,
        R.test_tube_no testTubeNo,
        R.result_status resultStatus,
        T.task_name taskName
        FROM biz_environment_task T
        inner join biz_environment_task_detail D on D.task_code=T.task_code
        left join biz_environment_task_detail_result R
        on (D.detail_code = R.detail_code and R.deleted=0)
        WHERE D.deleted=0
        <if test="param.taskCode !=null and param.taskCode !=''">
            and T.task_code = #{param.taskCode}
        </if>
        <if test="param.taskName !=null and param.taskName !=''">
            and T.task_name like concat('%',#{param.taskName},'%')
        </if>
        <if test="param.taskStatus !=null">
            and T.task_status = #{param.taskStatus}
        </if>
        <if test="param.startDate !=null">
            <![CDATA[
            and T.start_date <= #{param.startDate}
            ]]>
        </if>
        <if test="param.endDate !=null">
            <![CDATA[
            and T.end_date >= #{param.endDate}
            ]]>
        </if>
        <choose>
            <when test="param.userDataList!=null and !param.userDataList.isEmpty()">
                and exists (select 1 from biz_environment_task_org o where o.task_code=T.task_code and o.org_code in
                <foreach collection="param.userDataList" item="method" open="(" separator="," close=")">
                    #{method.code}
                </foreach>)
            </when>
            <otherwise>
                and T.created_by = #{param.userDataAccount}
            </otherwise>
        </choose>
    </select>

    <select id="findFormPage" resultType="com.alsace.exchange.service.detection.domain.EnvironmentTaskDetail">
       select
               d.task_code as taskCode,
               d.address as address,
               d.category as category,
               d.charge_person as chargePerson,
               d.charge_person_id_card as chargePersonIdCard,
               d.city as city,
               d.company_code as companyCode,
               d.company_name as companyName,
               d.created_by as createdBy,
               d.created_date as createdDate,
               d.deleted as deleted,
               d.detail_code as detailCode,
               d.detail_status as detailStatus,
               d.form_code as formCode,
               d.id as id,
               d.modified_by as modifiedBy,
               d.modified_date as modifiedDate,
               d.org_code as orgCode,
               d.remarks as remarks,
               d.scope as scope,
               d.tag_id as tagId,
               d.tag_name as tagName,
               d.tax_code as taxCode,
               d.tel as tel,
               t.form_status as formStatus
        from biz_environment_task_detail d
        left join  biz_environment_task_form t
        on t.deleted='0' and t.task_code = #{param.taskCode} and t.created_by = #{param.userDataAccount} and t.form_code = d.form_code
        where d.task_code=#{param.taskCode}


        <if test="param.detailStatus !=null and param.detailStatus !=''">
            <choose>
                <when test="10==param.detailStatus">
                    and (d.detail_status=#{param.detailStatus} or d.detail_status is null)
                </when>
                <otherwise>
                    and d.detail_status=#{param.detailStatus}
                </otherwise>
            </choose>

        </if>
        <if test="companyNameOrTaxCode !=null and companyNameOrTaxCode !=''">
            <![CDATA[
            and (d.company_name like CONCAT('%', #{companyNameOrTaxCode},'%') or d.tax_code like CONCAT('%', #{companyNameOrTaxCode},'%'))
            ]]>
        </if>
        order by d.created_date desc,d.modified_date desc

    </select>
</mapper>
