#============
# logging配置
#============
logging:
  level:
    root: info
  file:
    max-history: 7
    max-size: 10MB
    name: ${spring.application.name}
#=============
# 服务端口等熟悉设置
#=============
server:
  port: 8080
  servlet:
    context-path: /exchange/api/v1
#==============
# spring设置
#==============
spring:
  application:
    name: alsace-exchange-web
  profiles:
    active: @env@
  jackson:
    time-zone: GMT+8
    generator:
      write_numbers_as_strings: true
    serialization:
      write-dates-as-timestamps: true
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
mybatis:
  mapper-locations: classpath*:mappers/*Mapper.xml