#============
# logging配置
#============
logging:
  level:
    root: info
  file:
    max-history: 7
    max-size: 10MB
    name: ${spring.application.name}

server:
  port: 8080
  servlet:
    context-path: /exchange/api/v1

spring:
  application:
    name: alsace-exchange-web
  profiles:
    active: @env@
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    generator:
      write_numbers_as_strings: true
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

cacheManager:
  principalIdFieldName: loginAccount

springfox:
  documentation:
    swagger-ui:
      base-url: