spring:
  #============
  # 数据源配置
  #============
  datasource:
    url: jdbc:mysql://127.0.0.1:3307/alsace?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&useSSL=false&zeroDateTimeBehavior=convertToNull
    password: root
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  #==========
  # redis配置
  #==========
  redis:
    host: 127.0.0.1
#    password:
    port: 6379
#================
# 日志配置
#================
logging:
  level:
    org.hibernate.type.descriptor.sql.BasicBinder: trace